.content-section {
    margin-top: 3vh;
    margin-bottom: 3rem;
    width: 100vw;
    height: 100vh;
}
h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
}
.btn {
    box-shadow: 0 3px 3px 0 rgba(0,0,0,.1);
    font-weight: 700;
}

.btn-dark {
    color: #fff !important;
}

.btn-xl {
    padding: 0.6rem 0.6rem;
}